p Buenas,
p = "Acaba de iniciar la actividad: #{@title}"
p = "Fecha de inicio: #{@begin_at.strftime('%d/%m/%Y a las %H:%Mh')}"
p = "Fecha de fin: #{@end_at.strftime('%d/%m/%Y a las %H:%Mh')}"
p Un Saludo
